<div class="flex flex-col items-center mx-auto">
  <app-header
    class="w-full"
    [title]="'TAF Report'"
    [icao]="icao"
    [loading]="loading"
    [error]="error"
    (icaoChange)="icao = $event"
    (search)="fetchTaf()"
  ></app-header>
  <app-recent-lookups class="flex w-full justify-center"
    *ngIf="!icao && !loading && !error && taf.length === 0"
    (lookupSelected)="fetchTaf($event)"
  ></app-recent-lookups>
  <app-taf-display class="w-full" [taf]="taf"></app-taf-display>
</div>
