<div class="flex flex-col items-center mx-auto">
  <app-header class="w-full sticky top-0" [title]="'TAF Report'"></app-header>
  <app-input-field
    class="w-full"
    [icao]="icao"
    [loading]="loading"
    [error]="error"
    (icaoChange)="icao = $event"
    (search)="fetchTaf()"
  ></app-input-field>
  <app-recent-lookups
    class="flex w-full justify-center"
    *ngIf="!icao && !loading && !error && taf.length === 0"
    (lookupSelected)="fetchTaf($event)"
  ></app-recent-lookups>
  <app-taf-display class="w-full" [taf]="taf"></app-taf-display>
</div>
